.body {
    background: #f9f7fe;
}
.App {
    max-width: 500px;
    margin: 30px auto;
}

.App footer {
    font-size: 11px;
    text-align: center;
    margin: 10px 0;
}

.footerLink {
    color: #885df1;
    text-decoration: none;
}