.Weather {
    font-family: Cerebri-Sans,Helvetica,Arial,sans-serif;
    padding: 16px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(65,50,100,.08);
    color: #878787;

}

.Weather form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Weather .form-control {
  background: #f9f7fe;
  border: none;
}

.Weather .btn {
  background: #885df1;
  border: none;
}

.Weather .weather-conditions-container {
    width: 66%;
}

.Weather .weather-left-side {
    width: 60%;
    vertical-align: top;
}

.weather .weather-image, canvas {
    display: inline-block;
    margin-top: unset;
    vertical-align: top;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 6px;
}

.WeatherTemperature .temperature {
    font-size: 42px;
    font-weight: 400;
    color: #202124;
    display: inline;
}

.WeatherTemperature .units {
    display: inline-block;
    font-size: 14px;
    padding-left: 3px;
    vertical-align: top;
    text-decoration: none !important;
    color: #202124 !important;
    padding-right: 20px;
    padding-top: 13px;
    font-weight: bold;
    
}

.WeatherTemperature .convertUnit {
  text-decoration: none;
  color: #70757a !important;
  font-weight: lighter;
}

.Weather .weather-conditions {
    color: #70757a;
    display: inline-block;
    font-size: 12px;
    width: 40%;
}

.Weather h1 {
    color: #202124;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0;
    font-weight: bold;
}

.Weather ul {
    margin: 0;
    padding: 0;
}
.Weather li {
    color: #70757a;
    line-height: 20px;
    list-style: none;
}

.Weather li strong {
  color: #f65282;
  font-weight: 400;
}

.Weather .today {
    color: #70757a;
    font-size: 14px;
    line-height: 20px;
    width: 33%;
    text-align: right;
}

.flex {
  flex: 1;
}

.custom-row {
  display: flex;
  flex-direction: row;
}

.custom-column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.start-center {
  justify-content: flex-start;
  align-items: center;
}

.start-start {
  justify-content: flex-start;
  align-items: flex-start;
}

.start-end {
  justify-content: flex-start;
  align-items: flex-end;
}

.center-start {
  justify-content: center;
  align-items: flex-start;
}

.center-center {
  justify-content: center;
  align-items: center;
}

.center-end {
  justify-content: center;
  align-items: flex-end;
}

.end-center {
  justify-content: flex-end;
  align-items: center;
}

.space-around-start {
  justify-content: space-around;
  align-items: flex-start;
}

.space-around-center {
  justify-content: space-around;
  align-items: center;
}

.space-around-end {
  justify-content: space-around;
  align-items: flex-end;
}

.space-between-center {
  justify-content: space-between;
  align-items: center;
}

.space-between-start {
  justify-content: space-between;
  align-items: flex-start;
}

.space-between-end {
  justify-content: space-between;
  align-items: flex-end;
}

.WeatherForecast {
  padding-top: 20px;
}

.WeatherForecast .WeatherForecast-day {
  color:#70757a;
}